<div class="modal-header">
  <h6 class="modal-title">{{ title }}</h6>
  <button (click)="activeModal.dismiss('Cross click')" aria-label="Close" class="close" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <form #addEditCityForm="ngForm" (ngSubmit)="submit(addEditCityForm.value)" autocomplete="off">
    <div class="form-group row d-none">
      <label class="col-4 col-form-label" for="id">Id</label>
      <div class="col-8">
        <input [(ngModel)]="city.id" class="form-control" id="id" name="id" required="required" type="text">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label" for="name">Nume</label>
      <div class="col-8">
        <input [(ngModel)]="city.name" class="form-control" id="name" name="name" ngbAutofocus required="required"
               type="text">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label" for="longitude">Longitudine</label>
      <div class="col-8">
        <input [(ngModel)]="city.longitude" class="form-control" id="longitude" max="180" min="-180" name="longitude"
               type="number">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-4 col-form-label" for="latitude">Latitudine</label>
      <div class="col-8">
        <input [(ngModel)]="city.latitude" class="form-control" id="latitude" max="90" min="-90" name="latitude"
               type="number">
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button (click)="activeModal.dismiss('Cancel click')" class="btn btn-secondary" type="button">Renunță</button>
  <button (click)="submit(addEditCityForm.value)" class="btn btn-primary" type="button">Salvează</button>
</div>
